<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/misResenias.css">
    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>
</head>
<body>
     <!--Include del header-->
     <%-include('./partials/header.ejs') %>
     <!--Include del header-->
    <main>
    <br>
    <h1>Estas son tus reseñas</h1>
    <ul style="width: 580px;opacity: 0.8;">
        <% for(i = 0; i < reviews.length; i++){ %>
    <li>
        <div class="hijo">
        <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
            <header class="uk-comment-header uk-position-relative">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                      <img src="/images/avatar.png" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">RATING: <%=reviews[i].rating%></a></h4>
                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">FECHA: <%=reviews[i].createdAt%></a></p>
                    </div>
                </div>
               <!-- <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="/series/login">Lleva al login</a></div> -->
            </header>
            <div class="uk-comment-body">
                
                <h3>
                    <a class="uk-link-heading" href="/series/detalle?serieId=<%=reviews[i].idseries%>">VER PELICULA</a>
                </h3>
                 <p class="uk-link-muted"> <%=reviews[i].texto%> </p>
                
                </a>
                <a href="/series/editar?idReview=<%=reviews[i].idreviews%>">
                    <button class="uk-button uk-button-primary">EDITAR</button>
                </a>
                <a href="/series/borrar?idReview=<%=reviews[i].idreviews%>">
                    <button class="uk-button uk-button-danger">BORRAR</button>
                </a>
            </div>
        </article>
      </div>
    </li>
            <%}%>
    </ul>
</main>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>