<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
    <script src="/javascripts/home.js" ></script>
</head>
<body>
    <header>
        <nav>
            <ul class="logo-list">
                <li class="logo"> <img src="img/dh.png" alt=""> </li>
            </ul>
            <ul class="ul-menu">
                <li class="menu-item home"><a class="color-violet" href="/series/home">Inicio</a></li>
                <li class="menu-item"><a class="color-violet" href="/series/generos">Géneros</a></li>
                <li class="menu-item"><a class="color-violet" href="/series/buscador">Buscador</a></li>
                <li class="menu-item"><a class="color-violet" href="/series/login">Registrate</a></li>
                <li class="menu-item search">
                    <form class="" action="/series/resultado" method="GET">
                        <input class="input-search" type="text" name="query" value="">
                        <button class="btn-search" type="submit" name="">Buscar</button>
                    </form>
                </li>

            </ul>
        </nav>
    </header>
    <div class="papi">
        <div class="hijos">
            <img src="/images/avatar.png" alt="" height="80" width="80">
        </div>
        <div class="hijos">
            <h2><%=usuario.usuario %></h2>
        </div>
        <div class="hijos">
            <h2><%=usuario.email %></h2>
        </div>
        <div class="hijos">
            <h2><%=usuario.birthday %></h2>
        </div>
        <div class="mini">
            <% if(usuario.genero_fav == null){%>
                <p>No tengo género favorito</p>
            <% } else {%>
            <a href="/series/porGenero?genreId=<%=usuario.genero_fav %>"><p>Género Favorito</p></a>
            <% } %>
        </div>
        <div class="mini">
            <% if(usuario.serie_fav == null){%>
                <p>No tengo serie favorita</p>
            <% } else {%>
            <a href="/series/resultado?query=<%=usuario.serie_fav %>"><p>Serie Favorita</p></a>
            <% } %>
        </div>

    </div>

    <div class="resenias">
        <h2> Tus reseñas</h2>
        <ul>
            <% for(i = 0; i < usuario.reviews.length; i++){ %>
            <li><%=usuario.reviews[i].texto %></li>
           <% } %>
        </ul>
    </div>
</body>
</html>