<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>
     
    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/listaResenias.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

    <script src="/javascripts/uikit-icons.min.js" ></script>
    <script src="/javascripts/uikit.min.js" ></script>
</head>
<!--Include del header-->
<%-include('./partials/header.ejs') %>
<!--Include del header-->
<body class="listas">
   <main> 
     <br>

    <% if (todo.length == 0) { %>
        <h2><strong>No hay reseñas</strong></h2>
      <% } else { %>
      <h2 id="titulos"><strong>Mejores Reseñas</strong></h2>
      <% for(let i = 0; i < todo.length; i++) { %>
              <div class="grande">
                <div class="uk-card uk-card-default uk-width-1-2@m">
                  <div class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                          <a href="/series/detalle?serieId=<%= todo[i].idseries%>"><h3 class="uk-card-title uk-margin-remove-bottom" id="hola">Queres saber cual serie es?</h3></a>
                        </div>
                      </div>
                  </div>
                  <div class="uk-card-body">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Description:</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><strong><%= todo[i].texto%></strong></p>
                  </div>
                  <div class="uk-card-body">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Rating:</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><strong><%= todo[i].rating%></strong></p>
                  </div>
                  <div class="uk-card-footer">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Publicado el:</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><p><strong><%= todo[i].createdAt%></strong></time></p>
                  </div>
                </div>
                
                  </div>
                  <br>
                  <br>
      <% } %>
      <% } %>

    </main>
    
</body>
</html>