<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/buttonHeader.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/listaResenias.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
   <!--Include del header-->
   <%-include('./partials/header.ejs') %>
   <!--Include del header-->

<main style="height: fit-content;width: -webkit-fill-available;margin: auto;display: flow-root;background-image: url(https://i2.wp.com/wholefully.com/wp-content/uploads/2014/02/movie-theatre-popcorn.jpg);
background-repeat: repeat;">

    <% if (todo.length == 0) { %>
        <h2 style="color: white;"><strong>No hay reseñas</strong></h2>
      <% } else { %>
        <h2 id="titulos" style="margin-top: 100px;background-color: indianred;
        opacity: 0.8;"><strong>Las peores reseñas:</strong></h2>
      <% for(let i = 0; i < todo.length; i++) { %>
              <div class="grande">
                <div class="uk-card uk-card-default uk-width-1-2@m" style="border-style: solid;border-color: black;font-family: cursive;color: white;background: none;">
                  <div class="uk-card-header" style="background-color: indianred;opacity: 0.8;">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                          <a href="/series/detalle?serieId=<%= todo[i].idseries%>"><h3 class="uk-card-title uk-margin-remove-bottom" id="hola">Quieres saber cual peli es?</h3></a>
                        </div>
                      </div>
                  </div>
                  <div class="uk-card-body" style="    background-color: indianred;opacity: 0.8;border-style: dashed;border-color: white;
                  border-bottom-style: none;">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Description:</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><strong style="color: white;"><%= todo[i].texto%></strong></p>
                  </div>
                  <div class="uk-card-body" style="background-color: indianred;opacity: 0.8;border-style: dashed;border-color: white;">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Rating:</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><strong style="color: white;"><%= todo[i].rating%></strong></p>
                  </div>
                  <div class="uk-card-footer" style="background-color: indianred;opacity: 0.8;border-style: dashed;border-color: white;">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Publicado el:</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><p><strong><%= todo[i].createdAt%></strong></time></p>
                  </div>
                </div>
                
                  </div>
                  <br>
                  <br>
      <% } %>
      <% } %>
    
    </main>

</body>
</html>