<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Nerfli</title>

    <link rel="stylesheet" href="/stylesheets/resultadoUsuarios.css">
</head>
<body>

    <h1 class="titulo">Encontramos estos resultados</h1>
    <div class="labels">
        <div class="mini-labels">
            <p>Nombre</p>
        </div>
        <div class="mini-labels">
            <p>Email</p>
        </div>
        <div class="mini-labels">
            <p>Cumpleaños</p>
        </div>
        <div class="mini-labels">
            <p>Género favorito</p>
        </div>
        <div class="mini-labels">
            <p>Serie favorita</p>
        </div>
    </div>
    <%for(i=0; i< resultado.length; i++){%>
        <div class="resultado-usuarios">
            <div class="mini">
                <a href="/series/detalleUsuarios?userId=<%=resultado[i].id_usuarios %>"><p><%= resultado[i].usuario %></p></a>
            </div>
            <div class="mini">
                <p><%= resultado[i].email %></p>
            </div>
            <div class="mini">
                <p><%= resultado[i].birthday%></p>
            </div>
            <div class="mini">
                <% if(resultado[i].genero_fav == null){%>
                    <p>No tengo género favorito</p>
                <% } else {%>
                <a href="/series/porGenero?genreId=<%=resultado[i].genero_fav %>"><p>Género Favorito</p></a>
                <% } %>
            </div>
            <div class="mini">
                <% if(resultado[i].serie_fav == null){%>
                    <p>No tengo serie favorita</p>
                <% } else {%>
                <a href="/series/resultado?query=<%=resultado[i].serie_fav %>"><p>Serie Favorita</p></a>
                <% } %>
            </div>
        </div>
    <% } %>
</body>
</html>